
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>React</title>
  <!--<link rel="stylesheet" type="text/css" href="../css/main.css">-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div id="app" style="margin-left : 400px; width: 500px"></div>
<script type="text/babel">
  var Comment = React.createClass({
    getInitialState: function() {
      return {editing: false, date: new Date(), status: "Created"}
    },
    edit : function () {
      this.setState({editing: true});
    },
    remove : function () {
      console.log('Removing comment');
      this.props.deleteComment(this.props.index);
    },
    save: function () {
      var val = this.refs.newText.value;
      console.log('value is ', val);
      this.props.updateCommnentText(this.refs.newText.value, this.props.index)
      this.setState({editing: false, date: new Date(), status: "Edited"});
    },
    renderNormal: function () {
      return (
        <div className = "commentContainer" >
          <div className = "commentText" > {this.props.children} </div>
          <button onClick = {this.edit} className = "btn button-primary"> Edit </button> {" "}
          <button onClick = {this.remove} className = "btn button-danger"> Remove </button>
          <div> Tweeted at : {this.state.date.toLocaleString()} </div>
          <div> Status : {this.state.status} </div>
          <hr/>
        </div>
      );
    },
    renderForm: function () {
      return (
        <div className = "commentContainer">
          <textarea style={{width: "495px", height : "80px"}} ref = "newText" defaultValue = {this.props.children}></textarea >
          <br/>
          <button onClick = {this.save} className = "pull-right btn button-success"> Save </button>
          <br/>
          <br/>
          <hr/>
        </div>
      );
    },
    render : function () {
      if (this.state.editing) {
        return this.renderForm();
      } else {
        return this.renderNormal();
      }
    }
  });

  var Board = React.createClass({
    getInitialState: function() {
      return {
        comments: [],
        newText : "What's happening?"
      }
    },

    getData : function() {
      var me = this;
      var arr =[]
      $.ajax({
        url: '/api/tweets',
        method: 'GET',
        success: function(result) {
          console.log('fetched');
          for (var i=0; i<result.length ;i ++) {
            arr.push(result[i].tweet_text);
          }
          me.setState({comments: arr});
        }
      });
    },

    componentDidMount: function() {
      this.getData();
      setInterval(this.getData, 5000);
    },

    add: function (text) {
      $.ajax({
        type: 'POST',
        url: '/api/comments',
        data: {tweet_text : this.refs.newText.value}
      })
        .done(function(data) {
          console.log('api data ', data)

        })
        .fail(function(jqXhr) {
          console.log('failed to register');
        });

      var newText = this.refs.newText
      var arr = this.state.comments;
      arr.unshift(this.refs.newText.value);
      this.setState({comments: arr})
      newText.value = "What's happening?";
    },
    removeComment: function (i) {
      console.log('removing comment');
      var arr = this.state.comments;
      arr.splice(i, 1);
      this.setState({comments: arr});
    },
    updateComment: function (newText, i) {
      console.log('updating comment');
      var arr = this.state.comments;
      arr[i] = newText;
      this.setState({comments: arr});
    },
    eachComment: function (text, i) {
      return (
        <Comment key = {i} index = {i}
                 updateCommnentText = {this.updateComment}
                 deleteComment = {this.removeComment}>
          {text}
        </Comment >
      );
    },
    render: function () {
      return (
        <div><p> Total Tweets : {this.state.comments.length}</p>
          <button onClick = {this.getData} className = "pull-right btn button-primary">Fetch</button>
          <textarea  style={{width: "495px", height : "80px"}} ref = "newText" defaultValue = {this.state.newText}></textarea > <br/>
          <button onClick = {this.add.bind(null, 'Default Comment')} className = "pull-right btn button-primary">Tweet</button>
          <br/>
          <br/>
          <hr/>
          <div className = "board">{this.state.comments.map(this.eachComment)}</div>
        </div>
      );
    }
  });
  ReactDOM.render(<Board/>, document.getElementById('app'));
</script>
</body>
</html>
